.toDoListSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

form{
    align-self: center;
}

h1{
    color: rgb(17, 17, 79);
}

#inputTask{
    width: 60vw;
}

#liTask{
    align-self: center;
    width: 69vw;
}

#filterTask{
    margin-left: 5.5vw;
    align-self: flex-start;
}

.itemOption:hover{
    cursor: pointer;
}