<section class="toDoListSection">
    <h1 class="mt-2">To-do List</h1>
    <form class="row g-3 mt-3">
        <div class="col-auto">
            <input id="inputTask" class="form-control" type="text" placeholder="Ingrese aqui su tarea" aria-label="readonly input example"  [(ngModel)]="task" name="taskInput">
        </div>
        <div class="col-auto">
          <button (click)="addTask()" class="btn btn-primary mb-3">Agregar tarea</button>
        </div>
    </form>

    <div id="filterTask" class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtrar tareas
      </a>
    
      <ul class="dropdown-menu dropdown-menu-dark">
        <li class="dropdown-item itemOption" (click)="changeSeeTaskType(1)">Todas las tareas</li>
        <li class="dropdown-item itemOption" (click)="changeSeeTaskType(2)">Tareas Completas</li>
        <li class="dropdown-item itemOption" (click)="changeSeeTaskType(3)">Tareas Incompletas</li>
        <li class="dropdown-item itemOption" (click)="changeSeeTaskType(4)">Tareas Eliminadas</li>
      </ul>
    </div>

    <ul class="list-group mt-5">
        <!-- aqui agrego la lista de tareas -->
        <div id="liTask" *ngFor="let task of taskList; index as i">
          <li *ngIf="showTask(task)" class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="(task.deleted)?'list-group-item-danger':(task.selected)?'list-group-item-dark':'list-group-item-light'">
            <span class="d-flex justify-content-between align-items-center">
              <input *ngIf="!task.deleted" type="checkbox" class="form-check-input m-2" (click)="markTask(i)">
              <span class="m-2" [ngClass]="(task.selected)?'text-decoration-line-through':'text-decoration-none'">{{task.taskName}}</span>
            </span>
            
            <span class="d-flex justify-content-between align-items-center">
              <span class="p m-2">{{task.date | date}}</span>
              <button *ngIf="!task.deleted" class="btn btn-danger btn-sm" type="button" (click)="deleteTask(task.id)">Borrar</button>
            </span>            
        </li>
        </div>
    </ul>
</section>