h2{
    color: rgb(55, 44, 103);
    text-align: center;
}

.tdImg{
    width: 15vw;
} 

.imgContenedor{
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 5px;
}

img{
    width: 15vw;
    object-fit:cover
}