<section class="aside p-3 text-white bg-dark container-fluid">
    <span class="d-flex align-items-center">
      <span class="material-symbols-outlined p-2">
        menu
      </span>
      <span class="fs-4 m-2">MENU</span>
    </span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <!-- aria-current="page" -->
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined ms-2">
            event_list
            </span>
          <a routerLink="/toDoList" class="nav-link text-white">
            ToDo List
        </a>
        </span>
      </li>
      <li>
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined ms-2">
            view_list
          </span>
          <a routerLink="/fomrularioLosSimpsons" class="nav-link text-white">
            Form 'Los Simpsons'
          </a>
        </span>
      </li>
      
    </ul>
</section>