<section class="aside p-3 text-white bg-dark container-fluid">
    <span class="d-flex align-items-center">
      <span class="material-symbols-outlined p-2">
        menu
      </span>
      <span class="fs-4 m-2">Mis proyectos</span>
    </span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [routerLink]="['/to-do-list']" class="nav-link d-flex align-items-center"
        [ngClass]="(selectedPath('/to-do-list')?'active':'text-white')">
          <span class="material-symbols-outlined me-2">
            event_list
          </span>
          <span>
            ToDo List
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/formulario-los-simpsons" class="nav-link d-flex align-items-center text-white"
        [ngClass]="(selectedPath('/formulario-los-simpsons')?'active':'text-white')">
          <span class="material-symbols-outlined me-2">
            view_list
          </span>
          <span>
            Form 'Los Simpsons'
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/prime-numbers" class="nav-link d-flex align-items-center text-white"
        [ngClass]="(selectedPath('/prime-numbers')?'active':'text-white')">
          <span class="material-symbols-outlined me-2">
            view_list
          </span>
          <span>
            Numeros primos
          </span>
        </a>
      </li>
      
    </ul>
</section>