<section class="aside p-3 text-white bg-dark container-fluid">
    <span class="d-flex align-items-center">
      <span class="material-symbols-outlined p-2">
        menu
      </span>
      <span class="fs-4 m-2">MENU</span>
    </span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/toDoList" class="nav-link active d-flex align-items-center">
          <span class="material-symbols-outlined me-2">
            event_list
          </span>
          <span>
            ToDo List
          </span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/fomrularioLosSimpsons" class="nav-link d-flex align-items-center text-white">
          <span class="material-symbols-outlined me-2">
            view_list
          </span>
          <span>
            Form 'Los Simpsons'
          </span>
        </a>
      </li>
      
    </ul>
</section>